body{
    font-family: 'Cedarville Cursive', cursive;
    background-color: bisque;
}

.header_div
{
    background-color: paleturquoise;
    color: darksalmon;
}

.header_div p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkslategray;
    letter-spacing: 2px;
    font-size:34px ;
    font-weight: bold;
}

.main_div button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bold;
    letter-spacing: 2px;
}

.copy_right_footer{
    position: fixed;
    color:darkslategray ;
    bottom: 0;
    width: 100%;
    font-size: 50px;
    text-align: center;
    text-decoration: wavy;

}
